<div class="container">
    <div class="content">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Email</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students; index as index;">
                <th scope="row"> {{ student.id }} </th>
                <td> {{ student.email }} </td>
                <td> {{ student.password }} </td>
                <td>
                    <div style="display: flex; justify-content: space-around;">
                        <img 
                            src="./../../../assets/icons/edit.png" alt="" 
                            width="15px" height="auto" 
                            (click)="onEdit(student)"
                        >
                        <img 
                            src="./../../../assets/icons/delete.png" alt="" 
                            width="15px" height="auto" 
                            (click)="onDelete(index, student.id)"
                        >
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<button type="button" class="btn btn-primary" (click)="showModal = !showModal;"> Agregar </button>
<app-modal [show]="showModal" (eventButtons)="onEventButtons($event)">

  <div class="container" [formGroup]="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
        <small 
          id="emailHelp" 
          class="form-text text-muted"
          *ngIf="form.get('email').touched && form.get('email').invalid"
        >
          <p *ngIf="form.get('email').getError('email')"> Email no valido </p>
          <p *ngIf="form.get('email').getError('required')"> Campo requerido </p>
        </small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        <small 
          id="passwordHelp" 
          class="form-text text-muted"
          *ngIf="form.get('password').touched && form.get('password').invalid"
        > Campo requerido </small>
    </div>
  </div>


</app-modal>