<div [formGroup]="form">

    <div class="form-group" style="border-radius: 50%; display: flex; flex-direction: column; align-items: center;">
        <img 
            [src]="img" 
            alt=""
            width="150px" height="150px">
            <input class="btn btn-primary" type="file" (change)="onChange($event)"> 
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Enter email">
        <div *ngIf="this.form.get('email').touched && this.form.get('email').invalid"> <!-- hasError devuelve un valor booleano, true si tien un error y false en caso contrario  -->
            <small *ngIf="this.form.get('email').getError('required')"> El campo email es requerido </small>
            <small *ngIf="this.form.get('email').getError('email')"> El campo no es un email válido </small>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Constraseña">
        <div *ngIf="this.form.get('password').touched && this.form.get('password').invalid">
            Campo contraseña es requerido
        </div>
    </div>
    <button *ngIf="this.isNew; else teacherUpdate;" (click)="onAdd()" type="submit" class="btn btn-primary"> Agregar </button>
    <ng-template #teacherUpdate>
        <button (click)="onUpdate()" type="submit" class="btn btn-primary"> Actualizar </button>
    </ng-template>
</div>

